<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <a href="/">HOME</a>
  </nav>

  <main>
    <h1><%= title %></h1>
  