<%- include('../partials/header') %>

<section id="show-page">
    <div>Post</div>
    <div>
        <%= post.title %>
    </div>
    <div>Content</div>
    <div>
        <%= post.content %>
    </div>
</section>


<%- include('../partials/footer') %>